@tailwind base;
@tailwind components;
@tailwind utilities;

/* === your overrides and variables === */
@layer base {
  :root {
    /* light mode */
    --background: #ffffff;
    --foreground: #171717;
    --color-nartex-green: #16A75C;
    --color-nartex-green-light: #1eba69;
    --color-nartex-green-dark: #108a4c;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      /* dark mode */
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}

/* For Webkit-based browsers (Chrome, Safari, Edge) */
.custom-scrollbar-thin::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 6px; /* Height of the scrollbar for horizontal */
}
.custom-scrollbar-thin::-webkit-scrollbar-track {
  background: transparent; /* Or a very subtle color like #0A0D15 */
}
.custom-scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #2d3748; /* gray-700 */
  border-radius: 10px;
  border: 1px solid #0A0D15; /* Background color of the container */
}
.custom-scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #4a5568; /* gray-600 */
}

/* For Firefox */
.custom-scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #2d3748 transparent; /* thumb and track */
}
.custom-scrollbar-thin:hover {
   scrollbar-color: #4a5568 transparent;
}
